<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Books</title>
</head>
<body>
<h3>Search by title</h3>
<form action="/book" method="get">
    <input type="text" name="title"/>
    <input type="submit" value="Search"/>
</form>

<h3>Books</h3>
<table>
    <thead>
    <th>Title</th>
    <th>Author</th>
    <th>ISBN</th>
    <th>ID</th>
    </thead>
    <tbody>
    <tr th:each="book: ${books}">
        <td>
            <a th:href="@{/book/{id}(id=${book.id})}" th:text="${book.title}"></a>
        </td>
        <td th:text="${book.author}"></td>
        <td th:text="${book.isbn}"></td>
        <td th:text="${book.id}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>
